* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Times New Roman', Times, serif;
  }

/* HOME DAN BANNER*/
.banner{
    min-height: 100vh;
    height: 100px;
    display: flex;
    align-items: center;
    background:url(./img/banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.banner .content{
    width: 100rem;
    text-align: center;
}

.banner .content h3{
    font-size: 4rem;
    text-transform: uppercase;
    color:#fff;
}

.banner .content p{
    font-size: 24px;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}
.btnbanner{
    margin-top: 1rem;
    display: inline-block;
    padding:.3rem 2rem;
    font-size: 1.2rem;
    color:#fff;
    background: #8cb791 !important;
    cursor: pointer;
}

.btnbanner:hover{
    letter-spacing: .2rem;
}

.about {
    background-color: rgb(231, 231, 231);
    margin: 90px;
    padding: 10px;
}
.about img{
    width: 80%;
    height: 100%;
}
.aboutschools{
    text-align: justify; 
    text-justify: inter-word
}
.teacher .card {
box-shadow: 0 0 5px rgb(134, 133, 133);
background-color: rgb(231, 231, 231);
}

.blog {
position: relative;
margin: 4em 0;
}

.blog h1 {
margin: 2em;
}

.blog .card {
box-shadow: 0 0 5px rgb(134, 133, 133);
height: 515px;
}

.blog .card img {
width: 100%;
height: 18rem;
filter: brightness(0.8);
}

.blog .card-body {
padding: 1em;
}

.wisdom .content3{
    background:rgb(231, 231, 231);
    flex:1 1 40rem;
    padding: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.wisdom .content3 p{
    font-size: 1.3rem;
    color:#3D3838 !important;
    padding:1rem 0;
    text-align: center;
    line-height: 1.8;
}

.alasan .card {
    box-shadow: 0 0 5px rgb(134, 133, 133);
}
.activities .card {
    box-shadow: 0 0 5px rgb(134, 133, 133);
}
