body {
    font-family: 'Poppins', sans-serif;
  
    color: #48494a;
    background-image: url(./bodybg.jpg);
}
.navbar-brand {
font-size: 24px;
}
.text-e {
color: #629772 !important;
}
.navbar-brand {
font-family: 'Philosopher', sans-serif;
}
.navbar-nav a:hover {
color:  #629772 !important;
}
